/* ***Base Styles*** */


*{
  margin: 0;
}
.layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.top-bar {
  justify-content: center;
  flex-grow: 1;
  gap: 2rem;
  background-color: #000000;
  color: #fdfeff;
}

a {
  color: inherit;
  text-decoration: none;  

}

.nav-links {
  display: flex;
  justify-content: space-around;
  flex-grow: 1;
  flex-wrap: wrap;
  font-size: large; 
}

header {
  color:whitesmoke;
  margin: 20px 0px 20px 0px;
  
}
header h1 {
  display: flex;
  justify-content: center;
}

body {
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
}

body {
  background-color: black;
}

figure {
  display: grid;
}

figcaption {
  /* display: none; */
  grid-row: 1;
  grid-column: 1;
  color: whitesmoke;
  font-size: 2rem;
}

img {
  width: 100%;
  grid-row: 1;
  grid-column: 1;
  height: auto;
  object-fit: cover;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem; 
  color: whitesmoke;
  margin-top: 20px;
  }
  
/* ***Containers*** */


.gallery-container {
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(500px, 1fr) );
  align-items: center;
  margin: 2rem 2rem;
  margin: 0; 
 }

/* ***figure setup*** */


.fig-portrait {
  align-items: center;
   
}

.fig-landscape {
  max-width: auto;
}


.fig-rec {
  height: 70%;
  object-fit: cover;
}

.cap-end {
  align-self: end;
}
